<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.varko.mate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MATE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JSON">
        <activity android:name="fr.varko.mate.ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.varko.mate.LatestMessagesActivity" />
        </activity>
        <activity android:name="fr.varko.mate.NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.varko.mate.LatestMessagesActivity" />
        </activity>
        <activity android:name="fr.varko.mate.LatestMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.varko.mate.RegisterActivity">

        </activity>
        <activity android:name="fr.varko.mate.LoginActivity" />
    </application>

</manifest>